<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
        <a href="" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fab fa-youtube mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fab fa-github mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fab fa-instagram mr-3"></i>
        </a>


    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
        <a href="#" target="_blank"><strong>G17</strong></a>
        <p style="font-size:12px;">Vector Art from: <a href="https://www.vecteezy.com">vecteezy.com</a></p>
    </div>
    <!--/.Copyright-->

</footer>