{% extends "base.html"%}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/keyboard.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}


{% block content %}
<style>
    /* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        display: grid;
        place-items: center;
        min-height: 100vh;
    }
    .global-container {
        font-family: 'Quicksand', sans-serif;
        width: 900px;
        background-color: #ffffff;
        position: relative;
        display: grid;
        grid-template-columns: 54% 46%;
        border-radius: 20px;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
        align-items: center;
        margin-top: 60px;
        margin-bottom: 50px;
        padding: 40px 20px 40px 20px;
    }
    #my-profile-img {
        width: 88%;
        height: auto;
    }
    .container-text {
        margin-right: 40px;
    }
    label, input {
        font-size: 14px;
    }
    footer {
        width: 100%;
    }
</style>

<script type="text/javascript" src="{% static 'js/keyboard.js' %}"></script>  


<div class="global-container">
    <img id="my-profile-img" src="{% static 'img/login3.jpg' %}">
    <div class="container-text">
        <h3 class="card-title text-center">Enter Username</h3><hr>
        <div class="card-text">
            
            <form method="post" >
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" name="username" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
             
                <button type="submit" class="btn btn-primary btn-block" style="width:50%;">Send Mail</button>
                
            </form>
        </div> 
    </div>
</div>


{% endblock %}