{% extends "base.html" %}

{% block content %}
<style>
    * {
        font-size: 15.5px;
    }
    #search-btn {
        color: rgb(3, 67, 70);
        background-color: white;
        border: 2px solid white;
        border-radius: 15px;
    }
    .navbar-brand, .nav-item {
        font-size: 16px;
    }
    .navbar-dark {
        border-radius: 10px;
        margin-top: 10px
    }
    .card {
        border-radius: 10px;
    }
    .card:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .form-control {
        font-size: 13px;
    }
    .dark-grey-text {
        font-size: 18px;
    }
    .dark-grey-text:hover {
        text-decoration: underline;
    }
    .grey-text {
        font-size: 14px;
    }
</style>

<main>
    <div class="container">
        
        <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
            <span class="navbar-brand">CATEGORIES</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/?category=S">Clothes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/?category=SW">Electronics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/?category=OW">Stationery</a>
                </li>
            </ul>
            
            <form class="form-inline" method="post" action="" id="search_product" style="float:right">
                {% csrf_token %}
                <div class="md-form my-0">
                    <input name = "search" id="search" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button id="search-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </form>
        </div>
        
    </nav>
    <section class="text-center mb-4">
        <div class="row wow fadeIn">
            
            {% for item in object_list %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <div class="view overlay">
                        <!-- <img src="{{ item.image.url }}" class="card-img-top"> -->
                        <a href="{{ item.get_absolute_url }}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    
                    <div class="card-body text-center">
                        <h5>
                            <strong>
                                <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                                </a>
                            </strong>
                        </h5><hr>
                        <a href="" class="grey-text">
                            {{ item.get_category_display }}
                        </a>
                        
                        <h4 class="font-weight-bold" style="color:#2b6777">
                            <strong>₹
                                {% if item.discount_price %}
                                {{ item.discount_price }}
                                {% else %}
                                {{ item.price }}
                                {% endif %}
                            </strong>
                        </h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </section>
    
    {% if is_paginated %}
    <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">
            
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %}
            
            <li class="page-item active">
                <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    
</div>
</main>

{% endblock content %}